
*.zip
/webApp/flask_backend/res/response/dataloggers/
/webApp/flask_backend/res/response/sensors/
/webApp/flask_backend/venv/
/web/app/react-frontend/node_modules/
*.tmp
*.pyc
webApp/flask_backend/venv/bin/activate
webApp/flask_backend/venv/bin/activate
